<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homeproj2</title>
</head>
<body>
    <div id="app">
        <h1 v-if="gender === 'female' || gender === 'male'">
            <span v-show="gender === 'female'">Привет, Мисс {{name}}</span>
            <span v-show="gender === 'male'">Привет, Мистер {{name}}</span>
        <h1 v-else>Так значит вы не можете решить. Отлично!</h1>
        <label for="gender">Введите свой пол:</label>
        <input v-model="gender" type="text" id="gender">
        <label for="name">Введите ваше имя:</label>
        <input v-model="name" type="text" id="name">
        <pre>{{ $data }}</pre>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Vue.js"></script>
</body>
</html>