<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homeproj2</title>
</head>
<body>
    <div id="app">
        <template v-if="!message">
            <h1>Вы должны написать сообщение для получения помощи!</h1>
            <p>Немедленно отправьте посыльного!</p>
            <p>В соседнее королевство Сердец!</p>
        </template>
        <template v-else>
            <h1>Вы отправили сообщение</h1>
        </template>
        <textarea v-model="message"></textarea>
        <br />
        <button type="submit" v-show="message">
            Отпарвить послание всем союзникам для помощи!
        </button>
        <pre>{{ $data }}</pre>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Vue.js"></script>
</body>
</html>